<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>나의 장바구니</title>
</head>
<body>

<h2 style="text-align: center;">내 장바구니 목록</h2>
<table border="1">
    <tr>
        <td>상품번호</td>
        <td>상품명</td>
        <td>상품가격</td>
        <td>상품개수</td>
        <td>총액</td>
        <td>장바구니삭제</td>
        <td>구매하기</td>
    </tr>
    <tbody>
    <tr th:each="item : ${cart}">
        <td th:text="${item.productInfo.id}"></td>
        <td th:text="${item.productInfo.product_name}"></td>
        <td th:text="${item.productInfo.product_price}"></td>
        <td th:text="${item.cart_quantity}"></td>
        <td th:text="${item.getTotalPrice()}"></td>
        <td>
            <form th:action="@{/deleteCart}" method="POST">
                <input type="hidden" name="cart_num" th:value="${item.id}">
                <button type="submit">삭제</button>
            </form>
        </td>
        <td>
            <form th:action="@{/order}" method="POST">
                <input type="hidden" name="product_num" th:value="${item.productInfo.id}">
                <input type="hidden" name="order_quantity" th:value="${item.cart_quantity}">
                <button type="submit">구매하기</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<input type="button" value="메인으로" class="btn" onclick="location.href='/'">

</body>
</html>