<!DOCTYPE html>
<html lang = "en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title> 비밀번호 변경</title>
    <style>form{ display:inline; }</style>

</head>
<body>

<h2 style="text-align: center;">비밀번호 확인</h2>


<!--    회원번호 : <span sec:authentication="code"></span><br>-->

<form th:action="@{/updatePW}" method="POST">
    현재 비밀번호: <input type="password" name="password"><br>
    새로운 비밀번호: <input type="password" name="newPassword"><br>
    <button type="submit">확인</button>
    <input type="button" value="취소" class="btn" onclick="location.href='/'">
</form>


<input type="button" value="메인으로" class="btn" onclick="location.href='/'">

</body>
</html>